In [14]:
import numpy as np
import pandas as pd

import yfinance as yf
yf.pdr_override()
from pandas_datareader import data as pdr
import os
import csv
from matplotlib import pyplot as plt
import scipy.stats as st


#Best S&P500 ETF to show performance of the S&P500
SPY = pdr.get_data_yahoo('SPY', start='2001-06-15')
#Best NASDAQ ETF to show performance of the NASDAQ
QQQ = pdr.get_data_yahoo('QQQ', start='2001-06-15')
#Best DOW ETF to show performance of the DOW
VTI = pdr.get_data_yahoo('VTI', start='2001-06-15')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [15]:
SPY.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2001-06-15 00:00:00-04:00,120.910004,122.400002,120.400002,121.849998,81.138481,16821100
2001-06-18 00:00:00-04:00,121.650002,122.440002,120.910004,121.260002,80.745598,11368300
2001-06-19 00:00:00-04:00,122.379997,122.889999,120.889999,121.790001,81.098495,7732300
2001-06-20 00:00:00-04:00,121.190002,122.860001,121.099998,122.430000,81.524704,8787200
2001-06-21 00:00:00-04:00,122.220001,124.309998,122.150002,123.820000,82.450256,12259100

In [16]:
SPY.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-30 00:00:00-05:00,402.799988,405.130005,400.279999,400.589996,400.589996,74202000
2023-01-31 00:00:00-05:00,401.130005,406.529999,400.769989,406.480011,406.480011,86811800
2023-02-01 00:00:00-05:00,405.209991,413.670013,402.350006,410.799988,410.799988,101459200
2023-02-02 00:00:00-05:00,414.859985,418.309998,412.880005,416.779999,416.779999,101455700
2023-02-03 00:00:00-05:00,414.859985,413.429993,411.450012,413.399994,413.399994,7722588

In [17]:
QQQ.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2001-06-15 00:00:00-04:00,41.799999,43.070000,41.279999,42.599998,36.629742,84589400
2001-06-18 00:00:00-04:00,42.639999,43.169998,41.400002,42.029999,36.139641,63539100
2001-06-19 00:00:00-04:00,43.320000,43.560001,41.259998,41.820000,35.959072,73386900
2001-06-20 00:00:00-04:00,41.299999,42.970001,41.279999,42.770000,36.775936,83588600
2001-06-21 00:00:00-04:00,42.669998,44.230000,42.299999,43.349998,37.274632,67212600

In [18]:
QQQ.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-30 00:00:00-05:00,292.929993,294.380005,289.890015,290.269989,290.269989,49405800
2023-01-31 00:00:00-05:00,290.309998,294.720001,290.200012,294.619995,294.619995,46705100
2023-02-01 00:00:00-05:00,294.410004,303.429993,292.299988,300.920013,300.920013,67562200
2023-02-02 00:00:00-05:00,307.570007,313.679993,306.730011,311.720001,311.720001,82568400
2023-02-03 00:00:00-05:00,307.570007,307.209991,304.549988,307.209991,307.209991,10066603

In [19]:
VTI.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2001-06-15 00:00:00-04:00,55.424999,56.005001,55.174999,55.665001,37.544483,1067400
2001-06-18 00:00:00-04:00,55.814999,55.915001,55.310001,55.310001,37.305031,282600
2001-06-19 00:00:00-04:00,56.150002,56.165001,55.235001,55.465000,37.409588,1777600
2001-06-20 00:00:00-04:00,55.375000,56.075001,55.375000,56.049999,37.804150,476000
2001-06-21 00:00:00-04:00,56.000000,56.724998,55.875000,56.500000,38.107670,240400

In [20]:
VTI.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-30 00:00:00-05:00,202.279999,203.610001,201.089996,201.210007,201.210007,2992300
2023-01-31 00:00:00-05:00,201.649994,204.490005,201.449997,204.429993,204.429993,4827600
2023-02-01 00:00:00-05:00,203.910004,208.320007,202.509995,206.919998,206.919998,4385600
2023-02-02 00:00:00-05:00,209.000000,210.880005,208.100006,210.009995,210.009995,3728700
2023-02-03 00:00:00-05:00,209.000000,208.360001,207.139999,208.350006,208.350006,258106

In [21]:
VTI = VTI.reset_index()

In [22]:
QQQ = QQQ.reset_index()

In [23]:
SPY = SPY.reset_index()

In [24]:
VTI["Ticker"] = "VTI"
QQQ["Ticker"] = "QQQ"
SPY["Ticker"] = "SPY"
VTI.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker
0,2001-06-15 00:00:00-04:00,55.424999,56.005001,55.174999,55.665001,37.544483,1067400,VTI
1,2001-06-18 00:00:00-04:00,55.814999,55.915001,55.310001,55.310001,37.305031,282600,VTI
2,2001-06-19 00:00:00-04:00,56.150002,56.165001,55.235001,55.465000,37.409588,1777600,VTI
3,2001-06-20 00:00:00-04:00,55.375000,56.075001,55.375000,56.049999,37.804150,476000,VTI
4,2001-06-21 00:00:00-04:00,56.000000,56.724998,55.875000,56.500000,38.107670,240400,VTI

In [25]:
QQQ.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker
0,2001-06-15 00:00:00-04:00,41.799999,43.070000,41.279999,42.599998,36.629742,84589400,QQQ
1,2001-06-18 00:00:00-04:00,42.639999,43.169998,41.400002,42.029999,36.139641,63539100,QQQ
2,2001-06-19 00:00:00-04:00,43.320000,43.560001,41.259998,41.820000,35.959072,73386900,QQQ
3,2001-06-20 00:00:00-04:00,41.299999,42.970001,41.279999,42.770000,36.775936,83588600,QQQ
4,2001-06-21 00:00:00-04:00,42.669998,44.230000,42.299999,43.349998,37.274632,67212600,QQQ

In [26]:
SPY.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker
0,2001-06-15 00:00:00-04:00,120.910004,122.400002,120.400002,121.849998,81.138481,16821100,SPY
1,2001-06-18 00:00:00-04:00,121.650002,122.440002,120.910004,121.260002,80.745598,11368300,SPY
2,2001-06-19 00:00:00-04:00,122.379997,122.889999,120.889999,121.790001,81.098495,7732300,SPY
3,2001-06-20 00:00:00-04:00,121.190002,122.860001,121.099998,122.430000,81.524704,8787200,SPY
4,2001-06-21 00:00:00-04:00,122.220001,124.309998,122.150002,123.820000,82.450256,12259100,SPY

In [31]:
combined_df = pd.merge(SPY, QQQ, how ="outer", on = "Ticker")
combined_df.sample(20)

,Date_x,Open_x,High_x,Low_x,Close_x,Adj Close_x,Volume_x,Ticker,Date_y,Open_y,High_y,Low_y,Close_y,Adj Close_y,Volume_y
2698,2012-03-08 00:00:00-05:00,136.520004,137.320007,136.240005,137.039993,111.347618,116968900.0,SPY,NaT,NaN,NaN,NaN,NaN,NaN,NaN
10557,NaT,NaN,NaN,NaN,NaN,NaN,NaN,QQQ,2021-10-12 00:00:00-04:00,359.880005,360.329987,356.480011,357.140015,354.075043,43905100.0
5627,NaT,NaN,NaN,NaN,NaN,NaN,NaN,QQQ,2002-03-14 00:00:00-05:00,37.060001,37.400002,36.730000,36.860001,31.694183,70700500.0
7696,NaT,NaN,NaN,NaN,NaN,NaN,NaN,QQQ,2010-06-02 00:00:00-04:00,45.439999,46.279999,45.130001,46.250000,40.962223,97249300.0
4301,2018-07-23 00:00:00-04:00,279.450012,280.429993,279.059998,280.200012,259.451141,47047600.0,SPY,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1612,2007-11-14 00:00:00-05:00,149.220001,149.399994,146.779999,147.669998,109.420395,230558800.0,SPY,NaT,NaN,NaN,NaN,NaN,NaN,NaN
10683,NaT,NaN,NaN,NaN,NaN,NaN,NaN,QQQ,2022-04-12 00:00:00-04:00,345.760010,347.690002,338.040009,339.450012,337.383301,72790200.0
1865,2008-11-14 00:00:00-05:00,89.410004,92.059998,86.519997,86.620003,65.545235,540352300.0,SPY,NaT,NaN,NaN,NaN,NaN,NaN,NaN
2012,2009-06-18 00:00:00-04:00,91.690002,92.669998,91.250000,92.220001,70.852776,211725100.0,SPY,NaT,NaN,NaN,NaN,NaN,NaN,NaN
8700,NaT,NaN,NaN,NaN,NaN,NaN,NaN,QQQ,2014-05-29 00:00:00-04:00,91.040001,91.309998,90.860001,91.300003,84.834297,33036100.0
454,2003-04-10 00:00:00-04:00,87.089996,87.629997,85.709999,87.510002,59.862587,41812400.0,SPY,NaT,NaN,NaN,NaN,NaN,NaN,NaN
7602,NaT,NaN,NaN,NaN,NaN,NaN,NaN,QQQ,2010-01-15 00:00:00-05:00,46.470001,46.549999,45.650002,45.849998,40.564648,126849300.0
8424,NaT,NaN,NaN,NaN,NaN,NaN,NaN,QQQ,2013-04-24 00:00:00-04:00,69.279999,69.669998,69.120003,69.419998,63.495514,44500700.0
9129,NaT,NaN,NaN,NaN,NaN,NaN,NaN,QQQ,2016-02-10 00:00:00-05:00,97.430000,98.690002,96.620003,96.690002,91.552467,59421700.0
8074,NaT,NaN,NaN,NaN,NaN,NaN,NaN,QQQ,2011-11-29 00:00:00-05:00,54.689999,55.099998,54.220001,54.380001,48.826138,52056700.0
7571,NaT,NaN,NaN,NaN,NaN,NaN,NaN,QQQ,2009-12-01 00:00:00-05:00,43.889999,44.299999,43.880001,44.009998,38.871902,81817800.0
6890,NaT,NaN,NaN,NaN,NaN,NaN,NaN,QQQ,2007-03-21 00:00:00-04:00,43.639999,44.439999,43.349998,44.419998,38.851601,173333500.0
10484,NaT,NaN,NaN,NaN,NaN,NaN,NaN,QQQ,2021-06-29 00:00:00-04:00,353.529999,355.019989,352.670013,354.989990,351.553680,29426000.0
10835,NaT,NaN,NaN,NaN,NaN,NaN,NaN,QQQ,2022-11-17 00:00:00-05:00,280.880005,286.320007,280.720001,284.809998,284.129761,55462100.0
8632,NaT,NaN,NaN,NaN,NaN,NaN,NaN,QQQ,2014-02-20 00:00:00-05:00,89.690002,90.220001,89.309998,90.050003,83.136803,41814800.0