In [25]:
import numpy as np
import pandas as pd

import yfinance as yf
yf.pdr_override()
from pandas_datareader import data as pdr

#Best S&P500 ETF to show performance of the S&P500
SPY = pdr.get_data_yahoo('SPY', start='2001-06-15')
#Best NASDAQ ETF to show performance of the NASDAQ
QQQ = pdr.get_data_yahoo('QQQ', start='2001-06-15')
#Best DOW ETF to show performance of the DOW
VTI = pdr.get_data_yahoo('VTI', start='2001-06-15')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [26]:
SPY.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2001-06-15 00:00:00-04:00,120.910004,122.400002,120.400002,121.849998,81.138504,16821100
2001-06-18 00:00:00-04:00,121.650002,122.440002,120.910004,121.260002,80.745605,11368300
2001-06-19 00:00:00-04:00,122.379997,122.889999,120.889999,121.790001,81.098518,7732300
2001-06-20 00:00:00-04:00,121.190002,122.860001,121.099998,122.430000,81.524681,8787200
2001-06-21 00:00:00-04:00,122.220001,124.309998,122.150002,123.820000,82.450294,12259100

In [27]:
SPY.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-27 00:00:00-05:00,403.660004,408.160004,403.440002,405.679993,405.679993,68280700
2023-01-30 00:00:00-05:00,402.799988,405.130005,400.279999,400.589996,400.589996,74202000
2023-01-31 00:00:00-05:00,401.130005,406.529999,400.769989,406.480011,406.480011,86811800
2023-02-01 00:00:00-05:00,405.209991,413.670013,402.350006,410.799988,410.799988,101459200
2023-02-02 00:00:00-05:00,414.859985,418.309998,412.880005,416.779999,416.779999,101455700

In [28]:
QQQ.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2001-06-15 00:00:00-04:00,41.799999,43.070000,41.279999,42.599998,36.629730,84589400
2001-06-18 00:00:00-04:00,42.639999,43.169998,41.400002,42.029999,36.139626,63539100
2001-06-19 00:00:00-04:00,43.320000,43.560001,41.259998,41.820000,35.959064,73386900
2001-06-20 00:00:00-04:00,41.299999,42.970001,41.279999,42.770000,36.775921,83588600
2001-06-21 00:00:00-04:00,42.669998,44.230000,42.299999,43.349998,37.274612,67212600

In [29]:
QQQ.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-27 00:00:00-05:00,292.000000,298.260010,291.880005,296.260010,296.260010,56161500
2023-01-30 00:00:00-05:00,292.929993,294.380005,289.890015,290.269989,290.269989,49405800
2023-01-31 00:00:00-05:00,290.309998,294.720001,290.200012,294.619995,294.619995,46705100
2023-02-01 00:00:00-05:00,294.410004,303.429993,292.299988,300.920013,300.920013,67562200
2023-02-02 00:00:00-05:00,307.570007,313.679993,306.730011,311.720001,311.720001,82568400

In [30]:
VTI.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2001-06-15 00:00:00-04:00,55.424999,56.005001,55.174999,55.665001,37.544487,1067400
2001-06-18 00:00:00-04:00,55.814999,55.915001,55.310001,55.310001,37.305031,282600
2001-06-19 00:00:00-04:00,56.150002,56.165001,55.235001,55.465000,37.409580,1777600
2001-06-20 00:00:00-04:00,55.375000,56.075001,55.375000,56.049999,37.804146,476000
2001-06-21 00:00:00-04:00,56.000000,56.724998,55.875000,56.500000,38.107666,240400

In [31]:
VTI.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-27 00:00:00-05:00,202.600006,205.050003,202.580002,203.940002,203.940002,4520100
2023-01-30 00:00:00-05:00,202.279999,203.610001,201.089996,201.210007,201.210007,2992300
2023-01-31 00:00:00-05:00,201.649994,204.490005,201.449997,204.429993,204.429993,4827600
2023-02-01 00:00:00-05:00,203.910004,208.320007,202.509995,206.919998,206.919998,4385600
2023-02-02 00:00:00-05:00,209.000000,210.880005,208.100006,210.009995,210.009995,3728700